streamlit==1.51.0torch==2.9.1torchvision==0.24.1toml==0.10.2pandas==2.3.3numpy==2.3.4yfinance==0.2.66scikit-learn==1.7.2matplotlib==3.10.7cachetools==6.2.2blinker==1.9.0tornado==6.5.2click==8.3.1